* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}

body {
  min-height: 100%;
  background: #eee;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 400;
  color: #222;
  font-size: 14px;
  line-height: 26px;
  padding-bottom: 50px;
}

.page-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
}

.containerPage1,
.containerPage2 {
  background: #fff;
  box-shadow: 1px 1px 2px #DAD7D7;
  border-radius: 3px;
  padding: 40px;
  margin-top: 50px;
  margin-bottom: 200px;
  flex-basis: calc(50% - 30px);
  max-width: 100%;
}

.header {
  margin-bottom: 30px;
  text-align: center;
}

.full-name {
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.first-name {
  font-weight: 700;
}

.last-name {
  font-weight: 300;
}

.contact-info {
  margin-bottom: 20px;
}

.contact,
.email,
.address,
.linkedinemail {
  color: #222;
  font-weight: 300;
}

.separator {
  height: 10px;
  display: inline-block;
  border-left: 2px solid #999;
  margin: 0px 10px;
}

.position {
  font-weight: bold;
  display: inline-block;
  margin-right: 10px;
  text-decoration: underline;
}

.nameUni,
.location,
.work {
  color: #222;
  width: 100%;
  margin-bottom: 10px;
}

.location span {
  margin-right: 20px;
}

.container-education {
  margin: 0 auto 0px;
}

.container-education .nameUni {
  width: 100%;
  margin-bottom: 10px;
}

.container-education .location1 {
  float: right;
  width: calc(100% - 210px); /* Adjust as needed */
  text-align: right;
}

.container-education .location2 {
  float: right;
  width: calc(100% - 210px); /* Adjust as needed */
  text-align: right;
}

.container-education .year-field1 {
  float: right;
  width: calc(100% - 180px); /* Adjust as needed */
  text-align: right;
}

.container-education .year-field2 {
  float: right;
  width: calc(100% - 150px); /* Adjust as needed */
  text-align: right;
}




.container-work {
  margin: 0 auto 0px;
}

.container-work .nameCom1 {
  width: 100%;
  margin-bottom: 10px;
}

.container-work .location1 {
  float: right;
  width: calc(100% - 300px); /* Adjust as needed */
  text-align: right;
}

.container-work .location2 {
  float: right;
  width: calc(100% - 210px); /* Adjust as needed */
  text-align: right;
}

.container-work .location3 {
  float: right;
  width: calc(100% - 210px); /* Adjust as needed */
  text-align: right;
}

.container-work .location4 {
  float: right;
  width: calc(100% - 210px); /* Adjust as needed */
  text-align: right;
}

.container-work .year-job1 {
  float: right;
  width: calc(100% - 180px); /* Adjust as needed */
  text-align: right;
}

.container-work .year-job2 {
  float: right;
  width: calc(100% - 150px); /* Adjust as needed */
  text-align: right;
}

.container-work .year-job3 {
  float: right;
  width: calc(100% - 150px); /* Adjust as needed */
  text-align: right;
}

.container-work .year-job4 {
  float: right;
  width: calc(100% - 150px); /* Adjust as needed */
  text-align: right;
}



.container-work,
.container-project,
.container-awards,
.container-cert,
.container-skills,
.container-ref {
  margin: 0 auto 0px;
  
}

.list,
.list-work,
.list-project,
.list-awards,
.list-cert,
.list-skills,
.list-ref {
  padding-left: 40px;
}

.download-button-container {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
}

.download-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.download-button:hover {
  background-color: #45a049;
}

.download-button i {
  margin-right: 8px;
  font-size: 18px;
}

/* Responsive Styles */
@media (max-width: 767px) {
  .page-container {
    flex-direction: column;
    margin: 10px;
  }

  .containerPage1,
  .containerPage2 {
    flex-basis: 100%;
    margin: 10px 0;
    padding: 20px;
  }

  .full-name {
    font-size: 30px;
  }

  .contact-info,
  .list,
  .list-work,
  .list-project,
  .list-awards,
  .list-cert,
  .list-skills,
  .list-ref {
    padding-left: 20px;
  }
}
